[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=X-Alterator-Users
Icon=auth
Terminal=false
Name=Authentication
Name[ru_RU]=Аутентификация
X-Alterator-URI=/auth
X-Alterator-Weight=20
